/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  border-radius: 100px;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.section.hero {
  padding: 16rem 0 4rem;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.face-images {
  position: relative;
}
.face-image {
  position: relative;
  max-width: 70%;
  margin: 3rem auto -2rem;
}
.face-image + .face-image {
  display: none;
}

.contents a {
  text-decoration: none;
}

.contents a.diary {
  color: royalblue;
}

.contents a.library {
  color: #d6901a;
}

.contents a:hover {
  animation: magnify .7s;
}

@keyframes magnify {
  0% {font-size: 1em; filter: brightness(100%);}
  30% {font-size: 1.1em; filter: brightness(140%);}
  100% {font-size: 1em; filter: brightness(100%);}
}

/* Values
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section.values {
  padding: 30rem 0 27rem;
}
.values {
  background-image: url('../img/mosaic-bg.jpg');
  background-size: cover;
  color: #fff;
  padding-bottom: 5rem;
}
.value-multiplier {
  margin-bottom: .5rem;
  color: #11DFC7;
}
.value-heading {
  margin-bottom: .3rem;
}
.value-description {
  opacity: .8;
  font-weight: 300;
}

/* Help
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.get-help.section {
  padding: 9rem 0 8rem;
}
.get-help {
  border-bottom: 1px solid #ddd;
}

/* Categories
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.categories {
  background-image: url('../img/bumblebee.jpg');
  background-size: cover;
  color: #fff;
}
.categories .section-description {
  margin-bottom: 4rem;
}

.section.feedback {
  padding: 4rem 0 3rem;
}

.feedback .email {
  color: #455572;
  font-weight: 700;
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 12rem 0 11rem;
  }
  .hero {
    padding-bottom: 12rem;
    text-align: left;
  }
  .face-image {
    position: absolute;
    top: -7rem;
    right: 3rem;
    max-height: 362px;
    z-index: 3;
  }
  .face-image + .face-image {
    top: -6rem;
    display: block;
    max-width: 73.8%;
    right: 0;
    z-index: 2;
    max-height: 338px;
  }
  .hero-heading {
    font-size: 3.2rem;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .hero-heading {
    font-size: 3.6rem;
  }
  .section {
    padding: 14rem 0 15rem;
  }
  .hero {
    padding: 16rem 0 14rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .face-image {
    top: -14rem;
    right: 5rem;
    max-height: 510px;
  }
  .face-image + .face-image {
    top: -12rem;
    max-height: 472px;
  }
  .categories {
    padding: 15rem 0 8rem;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 20rem 0 19rem;
  }
  .hero-heading {
    font-size: 4.0rem;
  }
  .face-image {
    top: -16rem;
    max-height: 615px;
  }
  .face-image + .face-image {
    top: -14rem;
    max-height: 570px;
  }
}
